<template>
  <div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Last</th>
      </tr>
      <tr v-for="currency in currencies">
        <td>{{ currency.name }}</td>
        <td>{{ currency.bid }}</td>
        <td>{{ currency.ask }}</td>
        <td>{{ currency.last }}</td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  created () {
    this.$store.dispatch('fetchCurrencies')
  },

  computed: {
    currencies () {
      return this.$store.getters.getCurrencies
    }
  }
}
</script>
