<template>
  <div id='app'>
    <div class="container-fluid">
      <h1>History list</h1>
      <button @click='captureCurrencies'
              :disabled='disabled'
              class='btn btn-primary'>Capture</button>
      <br>
      <CurrencyList />
    </div>
  </div>
</template>

<script>
import CurrencyList from './packs/components/currencies/list.vue'

export default {
  components: { CurrencyList },
  data () {
    return {
      disabled: false
    }
  },
  methods: {
    async captureCurrencies () {
      this.disabled = true
      await this.$store.dispatch('captureCurrencies')
      this.$store.dispatch('fetchCurrencies')
      this.disabled = false
    }
  }
}
</script>

<style scoped>
</style>
